pymongo
oauth2client
gspread
googletrans
textblob
fuzzywuzzy
flask
dnspython
PyYAML
python-dotenv
python-Levenshtein
python-dotenv
phone_iso3166
emoji-country-flag
clint
apscheduler
pytest
pytest-mock